

<p>The alt attribute should reflect the image content, so users who cannot see the image gets an understanding of what the image contains:</p>

<img src="../files/1562737512523-photo.jpg" alt="Flowers in Chania" width="200" height="200">
          <div class="card-body">
                <div class="row">
                 <div class="col-md-9">  
                    </div>
                    <div class="col-md-3">
                        <img src="../files/1562737512523-photo.jpg" alt="Flowers in Chania" width="200" height="200">
                    </div>                  
                </div>
            </div>