<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header no-border">
                <div class="d-flex justify-content-between">
                    <a href="javascript:void(0);">View Report</a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <h1>Information of User</h1>
                        Name: {{user.name}}
                        <br>
                        Age: 30
                        <br>
                        BirthDate: 17/06/1989
                        <br>
                        Medical Code: {{user.medicalCode}}
                        <br>
                        Job Address: {{user.jobAddress}}
                        
                    </div>
                    <div class="col-md-3">
                        <img src="/{{user.image}}" width="200" height="200" >
                    </div>                  
                </div>
                <hr>
                <h1>History</h1>
                <hr>
                Information of History at here
                <h1>Diagnosis</h1>
                <hr>
            </div>
        </div>
    </div>
</div>