<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header no-border">
            <div class="d-flex justify-content-between">
              <a href="/activitydifinition/create" class="btn btn-primary">New activitydifinition</a>
              <a href="javascript:void(0);">View Report</a>
            </div>
          </div>
          <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Publisher</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                        <td>{{ this._id }}</td>
                        <td>{{ this.name}}</td>
                        <td>{{ this.date}}</td>
                        <td>{{ this.publisher}}</td>
                        <td>
                            <a href="/address/edit/{{ this._id }}" class="btn btn-default">Edit</a>
                            <a href="/address/delete/{{ this._id}}" class="btn btn-default">Delete</a>
                        </td>
                    </tr>     
                    {{/each}}
                </tbody>
            </table>
          </div>
        </div>
     </div>
</div>